{% extends 'base.html' %}
{% block title %}My Projects{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if projects|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for item in projects %}
                <tr>
                    <td><a href="{% url 'show_project' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.tasks.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
